<div class="col-start-1 col-end-9 p-3 rounded-lg" >
    <div class="flex flex-row items-start ">
        <div class="flex  items-center justify-center h-10 w-10 rounded-full bg-green-600 flex-shrink-0">
            GPT
        </div>
        @if (info){
            <div class="relative ml-3 text-sm bg-black bg-opacity-25 pt-3 pb-2 px-4 shadow rounded-xl" >
                <h3 class="text-xl"> Puntaje: {{info!.userScore}}</h3>
                <p> {{info!.message}}</p>
                @if (info.errors.length>0){
                    <h3 class="text-xl"> Errors encontrados</h3>
                    <ul>
                        @for(error of info.errors;track $index;let first=$first){
                            <li> {{error}} </li>
                        }
                    </ul>
                }                    
            </div>
        }@else{
            <div class="relative ml-3 text-sm bg-black bg-opacity-25 pt-3 pb-2 px-4 shadow rounded-xl" >
                
                <p> {{message.text}}</p>
                
            </div>
        }
        
    </div>
</div>
