<div class="chat-container">
    <div class="chat-messages">
        <div class="grid gap-y-2">
            <!-- Chat messages-->
            @for(message of messages();track $index) {
            @if(message.isGpt){
            <chat-message [text]="message.text" [audioUrl]="message.audioUrl" />
                    
            }
            @else{
            <my-message [text]="message.text" />
            }
            }
            
            @if (isLoading()){
            <typing-loader />
            }
        </div>
    </div>
    
    
    <text-message-box-select placeholder="Escribe tu mensaje" 
      (onMessage)="hangleMessageWithSelect($event)" [options]="voices" />

</div>