<div class="chat-container"   >
    <div class="chat-messages" #chatContainer>
        <div class="grid gap-y-2" >            
            @for(message of messages();track $index) {
            @if(message.isGpt){
                <gpt-message-orthography [message]="message" ></gpt-message-orthography>            
            }
            @else{
            <my-message  [text]="message.text" />
            }
            }            
            @if (isLoading()){
            <typing-loader />
            }
        </div>
    </div>
    <text-message-box  placeholder="Escribe tu mensaje"  (onMessage)="handleMessage($event)" />

</div>